<div class="container">
    <div class="details">
        <app-title title="Login Page"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <input-container label="Email">
            <input type="email" placeholder="Email" formControlName="email">
            </input-container>
            <input-container label="Password">
            <input type="password" placeholder="Password" formControlName="password">
            </input-container>
            <div class="button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>