<header>
    <div class="container">
        <a class="logo"><h3 (mousedown)="gotoHome()">Food Mine!</h3></a>
        <nav>
            <ul>
                @if (!isAuth) {
                    <li>
                    <a routerLink="/login">Login</a>
                </li>
                }

                @if (isAuth) {
                    <li class="menu-container">
                        <a routerLink="/dashboard">{{user.name}}</a>
                        <div class="menu">
                            <a routerLink="/profile">Profile</a>
                            <a routerLink="/orders">Orders</a>
                            <a (click)="logOutUser()">Logout</a>
                        </div>
                    </li>
                }
                
                
                <li>
                    <a routerLink="/cart-page">Cart @if (cartQuantity!=0) {
                            <span>{{cartQuantity}}</span>
                        }
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>